html{
    overflow-y: hidden;
}
body{
    display: flex;
    flex-direction: column;
}

main{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0;
    min-height: 300px;
    text-align: center;
    white-space: nowrap; /* Pour eviter que le texte ne se mettre sur plusieurs ligne quand le view port est réduit */
}
main img{
    width: 200px;
}
main p{
    font-size: 1.3rem;
    margin-top: 10px;
}